# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_MULTIPLE_DATABASES=user_service_db,product_service_db,order_service_db

# User Service
USER_DB_NAME=user_service_db
USER_DB_HOST=postgres
USER_DB_PORT=5432

# Product Service
PRODUCT_DB_NAME=product_service_db
PRODUCT_DB_HOST=postgres
PRODUCT_DB_PORT=5432

# Order Service
ORDER_DB_NAME=order_service_db
ORDER_DB_HOST=postgres
ORDER_DB_PORT=5432

# Shared
DB_USER=postgres
DB_PASSWORD=changeme
REDIS_URL=redis://redis:6379/0

# Django
SECRET_KEY=changeme-generate-a-real-secret-key
DEBUG=False
ALLOWED_HOSTS=*